---
import { SEO } from 'astro-seo';
import { AstroFont } from 'astro-font';

const title = "RLTM";
const description = "Rocket League Tournament Manager";
const creator = "Minarox";
const keywords = "Rocket League, Tournament, Manager, RLTM, Overlay, Stream";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<SEO
			title={title}
			description={description}
			charset="UTF-8"
			openGraph={{
				basic: {
					title: title,
					type: "website",
					url: Astro.url.origin,
					image: Social.src
				},
				optional: {
					locale: "en-US",
				},
				image: {
					alt: `${title} banner`,
					url: Social.src,
					type: "image/webp"
				}
			}}
			twitter={{
				creator: `@${creator}`,
				card: "summary_large_image",
				site: Astro.url.origin,
				title: title,
				description: description,
				image: Social.src,
				imageAlt: `${title} banner`,
			}}
			extend={{
				link: [
					{ rel: "icon", type: "image/svg+xml", href: Logo.src },
					{ rel: "sitemap", href: "/sitemap-index.xml" },
				],
				meta: [
					{ name: "viewport", content: "width=device-width,initial-scale=1.0" },
					{ name: "theme-color", content: "#000000" },
					{ name: "keywords", content: keywords },
					{ name: "robots", content: "index, follow" },
					{ name: "language", content: "English" },
					{ name: "author", content: creator }
				]
			}}
		/>

		<AstroFont
			config={[
				{
					name: "Lato",
					src: [
					{
						style: "normal",
						weight: 400,
						path: LatoRegular.slice(1)
					},
					{
						style: "bold",
						weight: 700,
						path: LatoBold.slice(1)
					},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				}
			]}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
